extends ../layout.pug

block content
  h3 All Uploads
  
  ul
    each upload in uploads
      li
        img(src=upload)
  
  ul
    - var i = 1;
    while i <= pages
      li
        a(href="?page=" + i)= i++
      